.btn-synch {
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    padding-bottom: 3px;
    background-color: #488286;
    margin: auto;
    margin-top: 5px;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.btn-synch:hover {
    opacity: 1;
}

.card-synch {
    overflow-wrap: break-word;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #c7d0d0a6;
    border-radius: 5px;
}

.border-round-1 {
    border-radius: 5px;
}

.border-round-2 {
    border-radius: 10px;
}

.border-round-3 {
    border-radius: 15px;
}

.border-round-4 {
    border-radius: 20px;
}

.cardHead {
    font-size: 21px;
    color: #00000096;
    padding-left: 7px;
    letter-spacing: 4px;
}

.img-prev {
    width: 70px;
    height: 70px;
}

.full-width-container {
    width: 100%;
    margin: auto;
    /*position: absolute;*/
    z-index: 10;
}

.dropdown-item {
    background-color: #488286;
    color: white;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
}

.dropdown-item:hover {
    background-color: #488286;
    opacity: 1;
}

.dropdown-menu {
    padding: 0;
}

.post-card {
    border: 1px solid #00000070;
    padding: 9px;
    color: #000000ad;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 7px;
}
